form .label {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 1em;
  display: block;
}

form fieldset {
  padding-left: 1.5em;
  padding-bottom: 0em;
  margin-bottom: 1em;
  p {
    margin-left: 3em;
  }
}

form div {
  margin-left: 2em;
}

form div select {
  margin-left: 1em;
}

form textarea {
  height: 25em;
  width: 25em;
}

.submit {
  margin-left: 7.2em;
  background-color: #A1B8C2;
}
