extends layout

block content
  div.main
    h1 Submit A New Post
    form
        p
          label.label Title
          input(type='text')
        p
          label.label Content
          textarea
        p
          input.submit(type='submit', value='Create New Post')
